@media screen and (min-width: 640px) {

    #menu {
        display: none;
    }

    .navigation {
        display: block;
    }

    .navigation ul {
        display: flex;
        justify-content: center;
    }

    .main-grid {
        grid-template-columns: 2fr 1fr;
    }

    .buttons {
        grid-template-columns: repeat(3, 1fr);
    }

    #courses {
        grid-template-columns: repeat(3, 1fr);
    }

}
